<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/"><h1>
          {{ site.title | default: site.github.repository_name }}
        </h1></a>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
        <small>
          <p>
            This is the website for the UK research community, academic and
            industrial, interested in problems relating generally to computer
            systems. That includes both the more traditional topics such as
            operating systems, distributed systems and networking, as well as
            more current challenges and approaches at scales from edge and mobile
            computing to datacenter and the cloud. If your work has bearing on how
            we should go about building practical computer systems, it's of
            interest!
          </p>
          <p>
            We organise an annual community workshop</a>, held in beautiful Northumberland, to share recent results,
            work-in-progress, challenges, and other matters of interest.
          </p>
          <p>
            <a href="/workshop/">Click here for details of past workshops.</a>
          </p>
        </small>
      </header>
      <section>

        {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

  </body>
</html>
